/*****************************************************
 UTILS...
*****************************************************/
.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .w-100 {
    width: 100%;
  }
  
  /* flexbox */
  
  .d-flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .flex-grow-1 {
    flex-grow: 1;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  /* Typography */
  
  .fs-14 {
    font-size: 1.4rem;
  }
  
  .fs-16 {
    font-size: 1.6rem;
  }
  
  .fs-20 {
    font-size: 2rem;
  }
  
  .fs-24 {
    font-size: 2.4rem;
  }
  
  .fs-24 {
    font-size: 2.4rem;
  }
  
  .fs-42 {
    font-size: 4.2rem;
  }
  
  .fw-400 {
    font-weight: 400;
  }
  
  .fw-500 {
    font-weight: 500;
  }
  
  /* spacing */
  .space-a {
    padding-top: 10rem;
  }
  
  .space-b {
    padding-top: 8rem;
  }
  
  .py-1 {
    padding: 0.8rem 0;
  }
  
  .py-2 {
    padding: 1.6rem 0;
  }
  
  .py-3 {
    padding: 2.4rem 0;
  }
  
  .px-1 {
    padding: 0 0.8rem;
  }
  
  .px-2 {
    padding: 0 1.6rem;
  }
  
  .px-3 {
    padding: 0 2.4rem;
  }
  
  .px-5 {
    padding: 0 5.6rem;
  }
  
  /* colors */
  
  .text-primary {
    color: var(--primary-color);
  }
  
  .text-grey-1 {
    color: var(--gray-1);
  }
  
  .text-grey-2 {
    color: var(--gray-2);
  }
  
  .text-black {
    color: var(--black-color);
  }
  
  .text-white {
    color: var(--white-color);
  }
  
  .bg-primary {
    background-color: var(--primary-color);
  }
  
  .bg-grey-1 {
    background-color: var(--gray-1);
  }
  
  .bg-grey-2 {
    background-color: var(--gray-2);
  }
  
  .bg-black {
    background-color: var(--black-color);
  }
  
  .bg-white {
    background-color: var(--white-color);
  }